// используем для вставки стилей eCSStractor (ctrl + alt + 1)копирование (BEM)  (ctrl + v) вставить 
//==================================================================================================================================
.header {
  
    width: 2005px; //?
    height: 75px; //?
    background-color: #1c242a;
    
   
    &__container {
        position: relative;
        display: flex;
        align-items: center;
        height: 75px;
        @media (max-width: $md3 + px) {
            justify-content: space-between;
        }
    }

    &__logo {
        width: 144px;
        position: relative;
        z-index: 2;
        @media (max-width: $md3 + px) {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__menu {
        
    }

    &__actions {
    }
}
// меню не по центру слева 80 справа 50 те слева на 30 пикселей больше
// сделаем отступ 30 слева
.menu {
    padding: 0px 0px 0px 30px/950px*100%; // при адаптиве 30px - будут в процентах и будут сужаться
    flex: 1 1 auto;
    @media (max-width: $md3 + px) {
        flex: 0 0 auto; // убираем чтобы отображать логотип посредине
    }
    // .menu__icon
    &__icon {
    }
    // .menu__body
    &__body { // боди мы будем скрывать и показывать
        @media (max-width: $md3 + px) {
            background-color: rgba(28, 36, 42, 0.8);
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            overflow: auto; // чтобы скролить меню
            padding: 130px 0px 20px 0px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s, ease 0s;
            text-align: center;
            &:after { // закрываем плашкой - при скроле текст будет заезжать за нее
                content: "";
                background-color: #1c242a;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 75px;
            }
            &._active {
                opacity: 1;
                visibility: visible;
                
            }
        }
        
    }
    // .menu__list
    &__list {
        display: flex;
        justify-content: center;
        li{
            margin: 0 15px;
            
        }
        @media (max-width: $md3 + px) {
            display: block;
            li {
                margin: 0px 0px 30px 0px;
                &:last-child {
                    margin: 0px 0px 0px 0px;
                }
            }
        }  
    }
    // .menu__link
    &__link {
        font-family: "PFDin";
        text-transform: uppercase;
        letter-spacing: 1.4px;
        color: #fff;
        @media (min-width: 992px) { 
            &:hover{
                text-decoration: underline;
            }
           
        }
        @media (max-width: $md3 + px) {
           font-size: 24px;
        }  
    }

}
// бургер:
.icon-menu {
    @media (max-width: $md3 + px) {
       
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
        span {
            // @include anim(0.3s, 0s);
            top: calc(50% - 1px);
            left: 0px;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #ccb48c;
    
            &:first-child {
                top: 0px;
            }
    
            &:last-child {
                top: auto;
                bottom: 0px;
            }
        }
        &._active {
            span {
                // @include scale(0); 
                &:first-child {
                    // @include rotate(-45deg);
                    top: calc(50%-1px);
                }
    
                &:last-child {
                    // @include rotate(45deg);
                    bottom: calc(50%-1px);
                }
            }
        }
    }
  
}
.actions-header {

    display: flex;
    align-items: center;

    &__region { // тоже что и .menu__link
        @extend .menu__link;
        position: relative;
        z-index: 2;
        padding: 0 0 0 30px;
        line-height: 18px; // чтобы влезла иконка
        min-width: 18px; // чтобы при исчезании текста
        min-height: 18px; // осталась картика глобуса
        background: url('../img/icons/globe.png') left no-repeat;
        @media(max-width: 890px) {
            padding: 0px;
            span {
               
                display: none;

            }
        }
        @media(max-width: $md3 + px) {
            margin: 35px 0 0 0;
            display: inline-block;
            padding: 0 0 0 30px;
            padding: 0px 0px 0px 30px;
            span {
 
                display: inline-block;
            }
        }
    }

    &__user {
        margin: 0 0 0 30px; // не задаем блоку а задаем элементу!
        @media(max-width: 890px) {
            margin: 0px 0px 0px 15px;
        }
    }
    

}
.user-header {
    // .user-header__icon
    &__icon {
        position: relative;
        z-index: 2;
        cursor: pointer;
    }

    &__menu {
        opacity: 0;         // скрываем меню
        visibility: hidden; // если не поставить будет нажиматься
        transition: all 0.3s ease 0s;
        top: 88px;
        right: 0;
        position: absolute;
        background-color: #1c242a;
        padding: 20px;
        min-width: 175px;
        li {
            margin: 0px 0px 8px 0px;
            &:last-child{
                margin: 0px 0px 0px 0px;
            }
            
        }
        // сделаем на всю ширину user-header__menu
        @media (max-width: $md3 + px) {
            width: 100%;
        }
        &._active {
            top: 78px;
            opacity: 1;
            visibility: visible;
        }
    }

    &__link {
        color: #fff;
        padding: 0 0 0 30px;
        display: inline-block;
        line-height: 18px;
        &_1 {
            background: url('../img/icons/globe.png') left center  no-repeat;
        }

        &_2 {
            background: url('../img/icons/key.png') left center no-repeat;

        }

        &_3 {
            background: url('../img/icons/palm.png') 4px center no-repeat;

        }

        &_4 {
            background: url('../img/icons/hammer.png') left center no-repeat;

        }
        @media (min-width: 992px) { 
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

//==================================================================================================================================
/* Burger
.icon-menu{
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;

    span {
        @include anim(0.3s, 0s);
        top: calc(50% - 1px);
        left: 0px;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000;

        &:first-child {
            top: 0px;
        }

        &:last-child {
            top: auto;
            bottom: 0px;
        }
    }

    &._active {
        span {
            @include scale(0);
            &:first-child {@include rotate(-45deg);top: calc(50%-1px);}

            &:last-child {@include rotate(45deg);bottom: calc(50%-1px);}
        }
    }
}
*/